<template name="Header">

  <div style="margin: 0px; border-radius: 0px" class="ui borderless inverted labeled icon menu">
    <div class="ui container">
      <a class="item" style="font-family: 'Diwan Thuluth',serif;" href="{{pathFor 'Home_Page'}}"><h1>CRAM</h1></a>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'List_Profile_Page'}} item" href="{{ pathFor 'Calendar_Page' }}">
            <i class="calendar icon"></i> Calendar</a>
        <div class="ui simple dropdown item">
          <i class="unordered list icon"></i> List of
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="{{ isActiveRoute 'List_Profile_Page'}} item" href="{{ pathFor 'List_Profile_Page' }}">List of Profile</a>
            <a class="{{ isActiveRoute 'List_Session_Page'}} item" href="{{ pathFor 'List_Session_Page' }}">List of Study Session</a>
          </div>
        </div>
        <a class="{{ isActiveRoute 'Leaderboard_Page'}} item" href="{{ pathFor 'Leaderboard_Page' }}"><i class="thumbs up icon"></i> Leaderboard</a>
        <div class="right menu">
          {{#if canShow}}
            <a class="{{ isActiveRoute 'Admin_Page'}} item" href="{{ pathFor 'Admin_Page' }}"><i class="privacy icon"></i> Admin Page</a>
          {{/if}}
          <div class="ui simple dropdown item">
            <i class="user icon"></i> {{user}}
            {{#if canShowMs}}
            <div class="floating ui red label">New</div>
            {{/if}}
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="{{ isActiveRoute 'User_Page'}} item" href="{{ pathFor 'User_Page' }}">User Profile
              </a>
              {{#if activeUser}}
              <a class="{{ isActiveRoute 'List_Messager_Page'}} item" href="{{ pathFor 'List_Messenger_Page' }}">Message</a>
              <a class="{{ isActiveRoute 'Add_Session_Page'}} item" href="{{ pathFor 'Add_Session_Page' }}">Create Study Session</a>
              <a class="{{ isActiveRoute 'Add_Report_Page'}} item" href="{{ pathFor 'Add_Report_Page' }}">Report</a>
              {{/if}}
            </div>
          </div>
          {{> Cas_Login }}
        </div>
      {{/if}}
    </div>
  </div>

  <!--<div style="margin: 0px; border-radius: 0px" class="ui borderless inverted menu">-->
    <!--<div class="ui container">-->
      <!--<a class="item" style="font-family: 'Diwan Thuluth',serif;" href="{{pathFor 'Home_Page'}}"><h1>CRAM</h1></a>-->
      <!--{{#if currentUser}}-->
      <!--<div class="ui simple dropdown item">-->
        <!--<a class="{{ isActiveRoute 'User_Page'}} item" href="{{ pathFor 'User_Page' }}">User Profile-->
          <!--{{#if canShowMs}}-->
          <!--<div class="floating ui red label">New</div>-->
          <!--{{/if}}-->
        <!--</a>-->
        <!--<i class="dropdown icon"></i>-->
        <!--{{#if activeUser}}-->
        <!--<div class="menu">-->
          <!--<a class="{{ isActiveRoute 'Add_Session_Page'}} item" href="{{ pathFor 'Add_Session_Page' }}">Create Study Session</a>-->
          <!--<a class="{{ isActiveRoute 'List_Messager_Page'}} item" href="{{ pathFor 'List_Messenger_Page' }}">Message</a>-->
        <!--</div>-->
        <!--{{/if}}-->
      <!--</div>-->

      <!--<div class="ui simple dropdown item">-->
        <!--<a class="{{ isActiveRoute 'List_Profile_Page'}} item" href="{{ pathFor 'List_Profile_Page' }}">List of Profile</a>-->
          <!--<i class="dropdown icon"></i>-->
          <!--<div class="menu">-->
            <!--<a class="{{ isActiveRoute 'List_Profile_Page'}} item" href="{{ pathFor 'Calendar_Page' }}">Calendar</a>-->
            <!--<a class="{{ isActiveRoute 'List_Session_Page'}} item" href="{{ pathFor 'List_Session_Page' }}">List of Study Session</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<a class="{{ isActiveRoute 'Leaderboard_Page'}} item" href="{{ pathFor 'Leaderboard_Page' }}">Leaderboard</a>-->
        <!--{{#if activeUser}}-->
          <!--<a class="{{ isActiveRoute 'Add_Report_Page'}} item" href="{{ pathFor 'Add_Report_Page' }}">Report</a>-->
        <!--{{/if}}-->
        <!--{{#if canShow}}-->
          <!--<a class="{{ isActiveRoute 'Admin_Page'}} item" href="{{ pathFor 'Admin_Page' }}">Admin Page</a>-->
        <!--{{/if}}-->
        <!--{{> Cas_Login }}-->
      <!--{{/if}}-->
    <!--</div>-->
  <!--</div>-->
</template>