body {
  background-color: #fffcfc;
}

.ui.inverted.menu {
  background-color: lightcoral;
}

#login-buttons a, .accounts-dialog a {
  color: blue;
}

.ui.piled.segment {
  background-color: #fffefe;
}

ul.notifications {
  padding-right: 1em;
  padding-top: 5em;
  padding-left: 16em;
  font-size: 18px;
}

table#my_table {
  table-layout: fixed;
}
table#my_table td#con {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
