body {
  background-color: #fffcfc;
}

.ui.inverted.menu {
  background-color: lightcoral;
}

#login-buttons a, .accounts-dialog a {
  color: blue;
}

.ui.piled.segment {
  background-color: #fffefe;
}
