body {
  background-color: #fffcfc;
}

.ui.inverted.menu {
  background-color: lightcoral;
}

#login-buttons a, .accounts-dialog a {
  color: blue;
}

.ui.piled.segment {
  background-color: #fffefe;
}

ul.notifications {
  padding-right: 1em;
  padding-top: 5em;
  padding-left: 20em;
  font-size: 18px;
}
